@model WikiSistemaASP.NET.Models.Topico

<form asp-action="CreateTopico" method="post">
    <input type="hidden" asp-for="ModuloId" />
    <div class="form-group">
        <label asp-for="Titulo" class="control-label"></label>
        <input asp-for="Titulo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Conteudo" class="control-label"></label>
        <textarea asp-for="Conteudo" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
</form>
