@model IEnumerable<WikiSistemaASP.NET.Models.Modulo>

<h2>Gerenciamento de Módulos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var modulo in Model)
        {
            <tr>
                <td>@modulo.Nome</td>
                <td>@modulo.Descricao</td>
                <td>
                    <a asp-action="Details" asp-route-id="@modulo.Id" class="btn btn-info">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
